.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  text-decoration: none;
  li {
    list-style: none;
  }
}

input {
  width:300px;
  height: 30px;
}

button {
  width:120px;
  height: 30px;
  background-color:#999;
  border: none;
  outline:none;
  margin: 0rem 1rem;
  cursor: pointer; 
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: content-box;
}